In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/SEMESTER 8/HI-Small_Trans.csv"
df = pd.read_csv(file_path)

print(df.head())

          Timestamp  From Bank    Account  To Bank  Account.1  \
0  2022/09/01 00:20         10  8000EBD30       10  8000EBD30
1  2022/09/01 00:20       3208  8000F4580        1  8000F5340
2  2022/09/01 00:00       3209  8000F4670     3209  8000F4670
3  2022/09/01 00:02         12  8000F5030       12  8000F5030
4  2022/09/01 00:06         10  8000F5200       10  8000F5200

   Amount Received Receiving Currency  Amount Paid Payment Currency  \
0          3697.34          US Dollar      3697.34        US Dollar
1             0.01          US Dollar         0.01        US Dollar
2         14675.57          US Dollar     14675.57        US Dollar
3          2806.97          US Dollar      2806.97        US Dollar
4         36682.97          US Dollar     36682.97        US Dollar

  Payment Format  Is Laundering
0   Reinvestment              0
1         Cheque              0
2   Reinvestment              0
3   Reinvestment              0
4   Reinvestment              0

In [ ]:
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5078345 entries, 0 to 5078344
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 426.2+ MB

In [ ]:
df['Timestamp']= pd.to_datetime(df['Timestamp'])
df['From Bank']= df['From Bank'].astype('object')
df['To Bank']= df['To Bank'].astype("object")
df['Is Laundering'] = df["Is Laundering"].astype('object')

In [ ]:
df.dtypes

Timestamp             datetime64[ns]
From Bank                     object
Account                       object
To Bank                       object
Account.1                     object
Amount Received              float64
Receiving Currency            object
Amount Paid                  float64
Payment Currency              object
Payment Format                object
Is Laundering                 object
dtype: object

In [ ]:
df['Date']=df["Timestamp"].dt.date

In [ ]:
df['Time']=df["Timestamp"].dt.time

<h1>Relationship</h1>

In [ ]:
df.drop(["Timestamp"], axis=1, inplace=True)

In [ ]:
df.head(2)

,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Date,Time
0,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0,2022-09-01,00:20:00
1,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0,2022-09-01,00:20:00

In [ ]:
df.drop('Time', axis=1, inplace=True)

In [ ]:
contingency = pd.crosstab(df['Is Laundering'], df["Date"])

In [ ]:
X = df.drop(['Is Laundering'],axis=1)
Y = df['Is Laundering']

#Check Overfitting
from sklearn.metrics import accuracy_score

# Predict on training set
y_train_pred = xgboost.predict(X_train)
train_accuracy = accuracy_score(y_train, y_train_pred)

# Predict on test set
y_test_pred = xgboost.predict(X_test)
test_accuracy = accuracy_score(y_test, y_test_pred)

print(f"Training Accuracy: {train_accuracy}")
print(f"Test Accuracy: {test_accuracy}")

###Random Under Sampling (RUS)

In [ ]:
!pip install imbalanced-learn==0.12.4

Requirement already satisfied: imbalanced-learn==0.12.4 in /usr/local/lib/python3.11/dist-packages (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn==0.12.4) (2.0.2)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn==0.12.4) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn==0.12.4) (1.6.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn==0.12.4) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn==0.12.4) (3.6.0)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

In [ ]:
rus = RandomUnderSampler()

In [ ]:
X_s,y_s = rus.fit_resample(X,Y.astype('int'))
X_train,X_test,y_train,y_test = train_test_split(X_s,y_s,test_size=0.3,random_state=42)

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:484: FutureWarning: `BaseEstimator._check_n_features` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_n_features` instead.
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/base.py:493: FutureWarning: `BaseEstimator._check_feature_names` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation._check_feature_names` instead.
  warnings.warn(

###LightBM

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [ ]:
cat = ['From Bank','Account','To Bank','Receiving Currency','Payment Currency','Payment Format','Date']

In [ ]:
from sklearn.metrics import roc_auc_score, classification_report

In [ ]:
#If the targets have strings or unexpected values, you may need to convert them to integer labels
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [ ]:
# Convert to numeric if possible
X_train["Account.1"] = pd.to_numeric(X_train["Account.1"], errors="coerce")
X_test["Account.1"] = pd.to_numeric(X_test["Account.1"], errors="coerce")

In [ ]:
for col in X_test.columns:
    if X_test[col].dtype == 'object':
        print(f"Column '{col}' unique values: {X_test[col].unique()[:5]}")

Column 'From Bank' unique values: [70 220 115363 213 11852]
Column 'Account' unique values: ['100428978' '100428A08' '813DF9D01' '805DD2440' '8090BFBC0']
Column 'To Bank' unique values: [41148 222 153706 24869 19]
Column 'Receiving Currency' unique values: ['Swiss Franc' 'Saudi Riyal' 'Bitcoin' 'US Dollar' 'Canadian Dollar']
Column 'Payment Currency' unique values: ['Swiss Franc' 'Saudi Riyal' 'Bitcoin' 'US Dollar' 'Canadian Dollar']
Column 'Payment Format' unique values: ['Credit Card' 'Cheque' 'Bitcoin' 'ACH' 'Cash']
Column 'Date' unique values: [datetime.date(2022, 9, 6) datetime.date(2022, 9, 4)
 datetime.date(2022, 9, 7) datetime.date(2022, 9, 9)
 datetime.date(2022, 9, 3)]

In [ ]:
from lightgbm import LGBMClassifier
ohe = Pipeline([('Encoder',OneHotEncoder(drop = 'first',handle_unknown='ignore'))])
transformer = ColumnTransformer([('One Hot Encoding',ohe,cat)], remainder = "passthrough")
lbm = Pipeline([
    ("Transformer", transformer),
    ("Estimator", LGBMClassifier())
])
# Fit model ke data training
lbm.fit(X_train, y_train)
# Prediksi dan evaluasi
y_pred = lbm.predict(X_test)
# Evaluasi hasil prediksi
print(classification_report(y_test.astype('int'), y_pred))

/usr/local/lib/python3.11/dist-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

[LightGBM] [Info] Number of positive: 3656, number of negative: 3591
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.008053 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1047
[LightGBM] [Info] Number of data points in the train set: 7247, number of used features: 166
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.504485 -> initscore=0.017939
[LightGBM] [Info] Start training from score 0.017939
              precision    recall  f1-score   support

           0       0.93      0.86      0.89      1586
           1       0.86      0.93      0.90      1521

    accuracy                           0.89      3107
   macro avg       0.90      0.89      0.89      3107
weighted avg       0.90      0.89      0.89      3107

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:246: UserWarning: Found unknown categories in columns [0, 1, 2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

In [ ]:
X_train.dtypes

From Bank              object
Account                object
To Bank                object
Account.1             float64
Amount Received       float64
Receiving Currency     object
Amount Paid           float64
Payment Currency       object
Payment Format         object
Date                   object
dtype: object

In [ ]:
import joblib

# Save pipeline (including encoder + model) in joblib format
joblib.dump(lbm, "lgbm_pipeline.joblib1")

print("Model pipeline saved as lgbm_pipeline.joblib1")

Model pipeline saved as lgbm_pipeline.joblib1

In [ ]:
X_test.to_csv('X_test.csv', index=False)

In [ ]:
from sklearn.metrics import roc_auc_score, classification_report

# Prediksi probabilitas untuk kelas positif (1)
y_pred_proba = lbm.predict_proba(X_test)[:, 1]

# Hitung AUC
auc = roc_auc_score(y_test, y_pred_proba)
print(f"AUC: {auc}")

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:246: UserWarning: Found unknown categories in columns [0, 1, 2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

AUC: 0.9627934847403272

In [ ]:
print(X_train.head())  # Display the first few rows of features
print(y_train.head())

        From Bank    Account To Bank  Account.1  Amount Received  \
463397      23402  803D3C380    9371        NaN           876.99
1575340        70  1004288E8   34723        NaN       5049243.05
883246     215266  808D1D510  215266        NaN          5557.99
4856089        15  803DE4A90      21        NaN       1432554.25
4747317    116904  8066668B0  217125        NaN        174944.75

        Receiving Currency  Amount Paid Payment Currency Payment Format  \
463397           US Dollar       876.99        US Dollar            ACH
1575340       Mexican Peso   5049243.05     Mexican Peso           Cash
883246           US Dollar      5557.99        US Dollar   Reinvestment
4856089                Yen   1432554.25              Yen            ACH
4747317              Ruble    174944.75            Ruble         Cheque

               Date
463397   2022-09-01
1575340  2022-09-02
883246   2022-09-01
4856089  2022-09-13
4747317  2022-09-09
463397     1
1575340    0
883246     0
4856089    1
4747317    0
Name: Is Laundering, dtype: int64